.App {
  margin: auto;
  width: 50%;
  background-color: #545656;
}

.Keypad {
  margin: auto;
  width: 100%;
}

.Display {
  margin: auto;
  width: 100%;
  text-align: right;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 150%;
}
