table,
th,
td {
  border: 1px solid #525252;
  margin: ;
  padding: 0;
  height: 60px;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  color: #ebebeb;
  font: Helvetica;
  font-size: 150%;
}

table {
  table-layout: fixed;
  margin: 10px;
}

.btn-orange {
  background-color: #ff9f0b;
}

.btn-dark-grey {
  background-color: #626262;
}
.btn-light-grey {
  background-color: #7c7c7c;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
